ul {
  margin: 0; 
  padding: 0px;
}

li {
  font-family: Verdana, 
  sans-serif; 
  font-size: 14px; 
  margin: 0; 
  padding: 0px;
}

body {
  margin: 5px; 
  padding: 0px; 
} 

h1 {
  font-family: Verdana, 
  sans-serif; 
  color: Crimson; 
  font-size: 20px; 
}  

h2 {
  font-family: Verdana, 
  sans-serif; 
  color: Crimson; 
  font-size: 18px; 
}  

h3 {
  font-family: Verdana, 
  sans-serif; 
  color: Crimson; 
  font-size: 16px; 
}  

p {
  font-family: Verdana, 
  sans-serif; 
  font-size: 14px; 
}  

kbd {
  background-color:MistyRose;
  font-size: 12px;
}

code {
  color:DarkBlue;
  font-size: 12px;
}

